@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-Light.woff") format("WOFF");
        font-style: normal;
        font-weight: bolder;
    }

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    overflow: visible;
    margin: 0;
    font-family: "TTLakes",sans-serif;
    min-width: 320px;
    background-color: #FFFFFF;
    color: #1B1C21;
    font-weight: 900;
}   

.modal {
    background-color: #FFFFFF;
    margin: 0;
    padding: 15px;
    width: 320px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.modal__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
}

.modal__menu-burger-and-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
}

.modal__logo img {
    width: 97px;
    height: 51px;
}

.modal__search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.modal__menu ul{
    display: flex;
    flex-direction: column;
}

.modal__menu ul > li {
    position: relative;
    margin-top: 50px;
    margin-left: -30px;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.modal__menu ul > li:hover {
    color:#8c8c97;
}

.modal__menu--selected:before {
    position: absolute;
    content: '';
    border-left: 5px solid #41F6D7;
    height: 37px;
    top: -7px;
    left: -25px;
    transition: all 0.2 ease-out;
}

.active {
    color: #7E7E82;
}


.footeritems {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 20px;
}

.footeritems a {
    text-decoration: none;
    color: #1B1C21;
}

.footeritems__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footeritems__buttons a {
    margin-left: 20px;
}

.footeritems__buttons a:first-child {
    margin-left: 0;
}

.footeritems__mail {
    margin-top: 10px;
    font-size: smaller;
}

.footeritems__phone {
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.footeritems__langs span:hover {
    transition: all 0.2s ease-out;
    color:#7E7E82;
}

.button--modified{
    transition: all 0.2s ease-out;
}

.button--modified:hover {
    filter:drop-shadow(0px 0px 3px rgba(13, 15, 24, 0.8));
}














